*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.fixed-width{
    max-width: 1200px;
    margin: auto;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
p{
    color: #7d7d7d;
}
.btn{
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid transparent;
    border-radius: 10px;
}
/* Begain the CSS */
.header-section{
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.logo{
    width: 30%;
    margin-top: 10px;
}
.logo img{
    width: 40px;
    margin-right: 10px;
}
.logo a{
    font-size: 30px;
    font-weight: 500;
    color: black;
}
.logo a:hover{
    color: #7d7d7d;
}
.menu{
    width: 55%;
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display: inline-block;
    padding: 0 15px;
    color: #010101;
    font-size: 18px;
    line-height: 60px;
}
.menu ul li:hover > a{
    color: #7d7d7d;
}
/* DropDown Menu */
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    transform: scaleY(0);
    transition: .4s;
    transform-origin: top center;
}
.menu ul li ul li{
    display: block;
}
.menu ul li ul li a{
    display: block;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.menu ul li:hover > ul{
    transform: scaleY(1);
}
.menu ul li ul li ul{
    position: absolute;
    top: 0;
    left: 100%;
}
.button{
    width: 14%;
    text-align: right;
}
.button .btn{
    background: #fff;
    border-color: #6278df;
    padding: 10px 20px;
    margin-top: 10px;
}
.button .btn:hover{
    background: #6278df;
    color: #fff;
    box-shadow: 1px 1px 10px 4px #6279df93;
}
/* Banner Section */
.banner-section{
    background: url(mbr-4.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner-section::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    position: absolute;
    z-index: -1;
}
.banner-section h6{
    font-size: 35px;
    font-weight: 400;
}
.banner-section h1{
    font-size: 60px;
    font-weight: 700;
    padding: 20px 0;
}
.banner-section .btn{
    background: #fff;
    color: #7d7d7d;
    font-size: 22px;
    font-weight: 600;
}
.banner-section .btn:hover{
    background: #6278df;
    color: #fff;
}
/* Video Section */
.video-section{
    padding: 80px 0;
}
.video{
    width: 48%;
}
.video-content{
    width: 48%;
}
.video-content h1 {
    font-weight: 400;
    font-size: 42px;
    padding-bottom: 14px;
}
.video-content p {
    font-size: 22px;
    line-height: 38px;
}
/* Service Section */
.content-heading{
    padding: 20px 0;
    text-align: center;
}
.content-heading h1{
    font-size: 55px;
    padding: 20px 0;
}
.content-heading p {
	font-size: 25px;
}
.service-items{
    padding: 50px 0;
}
.service-box{
    width: 32%;
    height: 200px;
    margin-left: 2%;
    margin-bottom: 30px;
    padding: 40px 25px; 
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px rgba(0,0,0, .1111);
    transition: .4s;
}
.service-box:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .2);
}
.service-box:nth-child(3n+1){
    margin-left: 0;
}
.service-box span {
	font-size: 45px;
	padding-bottom: 59px;
	color: #6278df;
	margin-right: 14px;
}
.service-box h2 {
	font-weight: 400;
	padding-bottom: 15px;
	font-size: 25px;
}
.service-box p {
	font-size: 21px;
}
/* Pricing Section */
.price-section{
    padding: 30px 0;
    background: #eef1fc;
}
.price-section .content-heading h1{
    font-weight: 400;
}
.pricing-table{
    width: 32%;
    margin-left: 2%;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    transition: .4s;
}
.pricing-table:nth-child(3n+1){
    margin-left: 0;
}

.price-value{
    text-align: left;
    padding: 30px;
    border-bottom: 1px solid #7d7d7d;

}
.price-value h4{
    font-size: 28px;font-weight: 500;
}
.price-value strong{
    padding: 30px 0;
    display: inline-block;
    font-size: 50px;
}
.price-value span{
    font-size: 20px;
}
.price-value h6{
    font-size: 22px;
    font-weight: 400;
}
.price-value p{
    padding: 20px 0;
    font-weight: 300;
    font-size: 20px;
}
.price-content{
    text-align: left;
    padding: 30px;
}
.price-content ul{
    list-style: none;
}
.price-content ul li{
    padding: 10px 0;
    font-size: 25px;
    color: #7d7d7d;
}
.price-content ul li span{
    margin-right: 10px;
    color: #6278df;
}
.pricing-table .btn{
    background: #fff;
    color: #6278df;
    margin-bottom: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px 0px rgba(0,0,0, .1111);
}
.pricing-table:hover .btn{
    background: #6278df;
    color: #fff;
}
.pricing-table:hover .price-value{
    background: #6278df;
    color: #fff;
}
.pricing-table:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .2);
}
.pricing-table .btn:hover{
    background: #000;
}
/* TEam Section */
.team-section{
    padding: 20px 0;
}
.team-section h1{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 40px 0;
}
.team-member{
    width: 23%;
    margin-left: 2%;
    box-shadow: 0 0 10px 0px rgba(0,0,0, .1111);
}
.team-member:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .2);
}
.team-member:nth-child(5n+1){
    margin-left: 1%;
}

.team-member img{
    width: 100%;
}
.members-details{
    padding: 30px;
}
.members-details h4{
    padding: 10px 0;
    font-size: 25px;
}
.team-member:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .2);
}
/* newsletter-section */
.newsletter-section{
    background: #f7f9ff;
    padding: 100px 0;
    text-align: center;
}
.newsletter-section form input {
	padding: 20px 10px;
	border: 1px solid #ddd;
	background: #fff;
	width: 300px;
	border-radius: 5px;
}
.newsletter-section form input:focus{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .2);
    outline: 1px solid #6278df;
}
.newsletter-section .btn {
	background: #6278df;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
}
.newsletter-section .btn:hover{
    color: #6278df;
    background: #fff;
    border: 2px solid #6278df;
}
/* Features Section */
.feature-section{
    padding: 35px 0;
}
.feature-title{
    padding: 20px 0;
}
.feature-title h1{
    width: 48%;
    font-size: 45px;
}
.feature-title p{
    width: 48%;
    font-size: 20px;
    line-height: 25px;
}
.feature-content{
    padding: 30px 0;
}
.feature-item{
    height: 200px;
    width: 48%;
    box-shadow: 0 0 20px 0px rgba(0,0,0, .1111);
    transition: .4s;
}
.feature-item img{
    height: 100%;
    margin-right: 30px;
}
.feature-item-content{
    padding: 20px;
}
.feature-item-content h4{
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
}
.feature-item-content p{
    font-size: 20px;
}
.feature-item:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, .3);
}
/* Testimonial Section */
.testimonial-section{
    padding: 40px 0;
    background: #f7f9ff;
    
}
.testimonials-item{
    width: 31%;
    margin-left: 3.5%;
}
.comment{
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 20px 0px rgba(56, 44, 44, 0.1);
    position: relative;
    z-index: 1;
}
.comment::before {
	font-family: "FontAwesome";
	content: "\f10d";
	font-size: 65px;
	position: absolute;
	top: 3px;
	left: 26px;
	z-index: -1;
	opacity: .13;
}
.comment::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 48%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 20px 0 20px;
	border-color: #fff transparent transparent transparent;
}
.comment:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.comment p{
    font-size: 25px;
    text-align: center;
}
.testimonials-item:nth-child(3n+1){
    margin-left: 0;
}
.user {
	margin-top: 38px;
	text-align: center;
}
.user img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 13%;
}
.user-info{
    text-align: left;
}
.user-info h4 {
	font-size: 25px;
	font-weight: 500;
	padding: 20px 0 5px;
}

